/***INTRO***/

#livre {
  display: flex;
  align-self: center;
  flex-direction: row-reverse;
  justify-content: center;
  max-width: 75%;
  min-height: 100vh;
}
.rowBook {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rowBook p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Croissant One";
  font-size: 22px !important;
  margin-bottom: 25px;
  align-self: center;
}
.illusT {
  align-self: flex-end;
  margin-bottom: 25px;
  font-style: unset !important;
}
.subIntro2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-family: "Forum", cursive;
  align-self: center;
  align-content: center;
  /*background: red;  */
}
.subIntro2 p {
  font-style: italic;
}

.bookButton {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.bookButton2 {
  width: 100%;
}
.bookButton .fa {
  margin-right: 10px;
}
.bookButton2 .fa {
  margin: auto;
}
.bookButton a {
  /*  background: rgba(250, 250, 250, 0.1);*/
  border: 1px solid rgba(250, 250, 250, 0.4);
  font-weight: 300;
  padding: 5px;
  text-decoration: none;
  border-radius: 12px;
  font-style: none;
  margin: 20px;
  transform: scale(1);
  transition: 0.5s;
}
.bookButton2 a {
  /*padding: 10px;*/
  margin: auto;
  text-align: center;
  width: 65%;
}
.bookButton a:hover {
  transform: scale(1.1);
  /*background: var(--blackish);*/
  color: var(--myviolet2);
}

.introLeft2 {
  flex: 1;
  align-items: center;
}

.introRight2 {
  -webkit-animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.65s both;
  animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.65s both;
  border-right: 6px solid rgb(255, 255, 255, 0.1);
  border-left: 6px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  margin: 0 50px;
  border-radius: 50px;
  height: fit-content;
  align-self: center;
  text-align: justify;
  background: url("./background/background2.webp");
  background-color: var(--blackish);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.introRight2 p {
  font-size: 18px;
}

/*Book styling*/

.bookWrap {
  margin: 25px auto 25px -20px;
  height: 346px;
  width: 230px;
  position: relative;
  background: #2d2c2c;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  box-shadow: 10px 0 20px -2px rgb(255, 255, 255, 0.2);
}

.book p {
  position: absolute;
  bottom: 62px;
  letter-spacing: 3px;
  right: -62px !important;
  color: var(--blackish);
  transform: rotate(-90deg);
  font-style: unset;
}

.book {
  background: var(--whiteish);
  height: 346px;
  width: 230px;
  position: absolute;
  left: 16px;
  top: 0;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: -webkit-transform 0.5s ease 0s;
  -moz-transition: -moz-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;

  -webkit-border-radius: 0 7px 7px 0;
  -moz-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;

  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.bookIntro {
  -webkit-transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  transform: rotateY(30deg);
}

.bookCover {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 230px;

  max-width: 230px;
  max-height: 346px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;

  -webkit-transition: -webkit-transform 0.5s ease 0s, width 0.5s ease 0s;
  -moz-transition: -moz-transform 0.5s ease 0s, width 0.5s ease 0s;
  transition: transform 0.5s ease 0s, width 0.5s ease 0s;

  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  transform-origin: 0;
}

.bookCover:hover {
  width: 210px;

  -webkit-transform: rotateY(-20deg);
  -moz-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

.spine {
  background: black;
  background: green;
  width: 40px;
  height: 344px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  transform: rotateY(90deg);

  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  transform-origin: 0;
}
