/***HEADER***/

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-out;
  background: transparent;
  color: var(--whiteish);
  font-size: 16px;
  z-index: 2;
}

.header a:hover {
  color: var(--myviolet2);
  text-decoration: none;
}
#titleNav {
  font-size: 33px !important;
  margin: 0;
  font-family: "Croissant One", cursive;
  text-decoration: none;
  letter-spacing: 4px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  backdrop-filter: blur(2px) brightness(2);
  -webkit-backdrop-filter: blur(2px) brightness(2);
  transition: 0.05s !important;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid rgb(250, 250, 250, 0.2);
}

.header li:last-of-type {
  border: none;
}

.header li:hover,
.header li:active,
.header li:focus,
.header .menu-btn:hover,
.header .menu-btn:active,
.header .menu-btn:focus {
  backdrop-filter: blur(3px) brightness(8);
  -webkit-backdrop-filter: blur(3px) brightness(8);
}

.header li a {
  text-transform: uppercase;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) /* 1.2s */
    both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) /*1.2s */ both;
}

.header li:hover a {
  color: var(--blackish);
  font-weight: bold;
}

/* menu */

.header .menu {
  clear: both;
  z-index: 5;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  position: absolute;
  top: 67px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 100%;
  padding: 2px 5px 0 5px;
  letter-spacing: 2px;
  font-family: "Forum", cursive;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--whiteish);
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--whiteish);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/**********880max************/
@media (max-width: 880px) {
  .header li {
    background: var(--blackish);
  }
}

/**********880min************/
@media (min-width: 880px) {
  .header li {
    float: left;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    border: none;
    border-radius: none;
  }
  .header li a {
    padding: 10px;
    border: unset;
    text-transform: unset;
  }
  .header li:hover {
    text-decoration: none;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }

  .header li:hover a {
    color: var(--myviolet2);
    font-weight: normal;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    text-align: unset;
    width: unset;
    padding: unset;
    letter-spacing: unset;
    text-transform: unset;
    font-family: "Forum", cursive;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    font-family: "Courgette", cursive;
  }
  .header .menu-icon {
    display: none;
  }
}

/**********541min************/
@media (min-width: 541px) {
  .header li:first-of-type {
    border-radius: 4px 4px 0 0;
  }
  .header li:last-of-type {
    border-radius: 0 0 4px 4px;
  }
}
