/***INTRO***/

.intro {
    margin-top:65px;
  width: 100vw;
  height: 100%;
  align-self: center;
  /*border: 7px solid yellow;*/
  display: flex;
  padding: 5vh;
  justify-content: center;

  /*overflow: hidden;*/
  /*-webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  */
}

.subIntro{
  /*/flex: 0.1;*/
  /*background: yellow;*/
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 33%;
  align-items: center;
  height: fit-content;
  font-family: 'Forum', cursive;
  margin: auto 0 auto 0;

}

.introLeft{
}

.introRight{
    border-radius: 4px;
   border: 8px solid rgb(255,255,255, 0.1);
box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
  border-radius: 7px 50% 7px 50%;  
  padding: 25px;

}

.introLeft img{
  width: 100%;
  max-width: 250px;
  border-radius: 50% 50% 7px 7px;  
  border-radius: 50% 7px 50% 7px;  
  padding: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.introRight p{  
  font-size: 20px;

}
