/***INTRO***/

.intro {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  flex-wrap: wrap;
  background: blue;
  /*-webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  */
}

.subIntro {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-family: "Forum", cursive;
  align-self: center;
}

.introLeft {
  flex: 1;
  align-items: center;
  -webkit-animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}
.introLeft img {
  width: 100%;
  max-width: 250px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  border-radius: 50% 7px;
  padding: 6px;
}

.introRight {
  -webkit-animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.65s both;
  animation: fade-in 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.65s both;
  border-right: 6px solid rgb(255, 255, 255, 0.1);
  border-left: 6px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  margin: 0 50px;
  border-radius: 50px;
  height: fit-content;
  align-self: center;
  text-align: justify;
}

.introRight p {
  font-size: 22px;
  margin: ;
}
