/***INTRO***/

.intro {
    margin-top:65px;
  width: 100vw;
  height: 100%;
  align-self: center;
  /*border: 7px solid yellow;*/
  display: flex;
  padding: 5vh;
  justify-content: center;

  /*overflow: hidden;*/
  /*-webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  */
}

.subIntro{
  /*/flex: 0.1;*/
  /*background: yellow;*/
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 33%;
  align-items: center;
}

.introLeft{

}

.introRight{
  /*font-family: 'Courgette', cursive;*/
/*font-family: 'Croissant One', cursive;*/
font-family: 'Forum', cursive;

/*font-family: 'Kalam', cursive;*/


}

.introLeft img{
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}

.introRight p{  
  font-size: 20px;

}
